{% extends "esm_com/bizform.html" %} {% load static %} {% block header %}
<script>
  // 그리드 전역변수 설정
  var grid1; // var grid1, grid2, grid3, grid4 ..... ;

  $(function () {
    // 그리드 초기화
    (function initGrid() {
      initGrid1(); // 메뉴목록
    })();

    // 메뉴목록
    function initGrid1() {

      // 그리드 옵션
      var options = {};

      // 그리드 초기화
      grid1 = $("#grid1").gfnGridInit([
        { fieldName: "masterCd",          text: "상위코드",       width: 80,   editable: false, visible: false },
        { fieldName: "masterCdName",      text: "상위코드명",     width: 120,  editable: false, visible: false },
        { fieldName: "detailCd",          text: "상세코드",       width: 80,   editable: false, align: 'center' },
        { fieldName: "detailCdName",      text: "상세코드명",     width: 200,  editable: false },
        { fieldName: "beginDate",         text: "시작일자",       width: 80,   type: 'date', format: 'YYYYMMDD', editable: false, align: 'center' },
        { fieldName: "endDate",           text: "종료일자",       width: 80,   type: 'date', format: 'YYYYMMDD', editable: false, align: 'center' },
        { fieldName: "sortOrder",         text: "정렬순서",       width: 60,   type: 'number', editable: false },

        { fieldName: "codeDetailUid",     text: "상위메뉴코드",   width: 100,   editable: false, visible: false },
        { fieldName: "codeMasterUid",     text: "메뉴코드",       width: 80 ,   editable: false, visible: false },
      ], options);

      // 그리드 상태바 설정
      grid1.gridView.setStateBar({
        visible: false
      });

      //그리드 체크박스 설정
      grid1.gridView.setCheckBar({
        visible: false,
      });
    }
  });

  /* action1에대한 기능 */
  function doAction1(gubun) {
    switch (gubun) {
      case "search": // 조회
        var searchDetailCd = $("#detailCd").val();
        var searchDetailCdName = $("#detailCdName").val();

        // 화면 조회조건 항목별 값 
        var mainParam = {          
          searchMasterCd: 'GENDER_CD',
          searchDetailCd: searchDetailCd,
          searchDetailCdName: searchDetailCdName,
        };
        // console.log("mainParam ->", mainParam);

        // 조회조건, url, grid
        var params = {
          url: "/esm_pop_1000/searchCodeDetail",
          grid: "grid1", // or ['grid1', 'grid2', ...]
          mainParam: mainParam,
        };
        gfnGetGrdData(params);
        break;

      case "reset": // 초기화
        console.log(gubun)
        document.getElementById("menuName").values='';
        break;
      case "selectRow": // 선택        
        break;
    }    
  }

  // 팝업 콜백
  function popupCallback(gubun) {
    switch(gubun) {
      case 'getCommonCode': // 공통코드 조회
        console.log('test')
        break;
    }
  }

  // 영문자만 입력
  function handleOnInput(e)  {
    e.value = e.value.replace(/[^A-Za-z]/ig, '')
  }
</script>
{% endblock %} {% block contents %}
<div class="container-fluid d-flex flex-column p-0 h-100">
  <!-- 검색 조건 영역 -->
  <div class="row no-gutters mb-2">
    <div class="col-12">
      <div class="search-header">
        <div class="search-title">
          <i class="search-title__icon xi-bars"></i>
          <span class="search-title__name">조회조건</span>
        </div>
        <div class="search-buttons">
          <button class="btn_sub active" onclick="doAction1('reset');"><i class="xi-refresh"> 초기화</i></button>
          <button class="btn_main active" onclick="doAction1('search');"><i class="xi-search"> 조회</i></button>
        </div>
      </div>
      <form id="srchForm" class="search-content">
        <table style="width: 100%; table-layout: fixed;">
          <colgroup>
            <col width="13%"><col width="20%">
            <col width="13%"><col width="20%">
            <col width="13%"><col width="20%">
          </colgroup>
          <tr style="width: 100%;">
            <td class="search-menu"><label for="detailCd" data-toggle="tooltip" data-placement="bottom" title="상세코드">상세코드</label></td>
            <td><input type="text" name="detailCd" id="detailCd" autocomplete="off" style="text-transform: uppercase;" oninput="handleOnInput(this)"/></td>

            <td class="search-menu"><label for="detailCdName" data-toggle="tooltip" data-placement="bottom" title="상세코드명">상세코드명</label></td>
            <td><input type="text" name="detailCdName" id="detailCdName" autocomplete="off"/></td>

            <td class="search-menu"></td><td></td>
            <td class="search-menu"></td><td></td>
          </tr>          
        </table> 
      </form>
    </div>
  </div>

  <!-- 그리드 영역 -->
  <div class="row no-gutters flex-grow-1">
    <div class="grid col-12 d-flex flex-column">
      <div class="grid-header">
        <div class="grid-title">
          <i class="grid-title__icon xi-sort-desc"></i>
          <span class="grid-title__name">조회결과</span>
          <span class="grid-title__cnt"></span>
        </div>
        <div class="grid-buttons">
          <button class="btn_sub active" onclick="doAction1('selectRow');"><i class="xi-check-circle-o"> 선택</i></button>
        </div>
      </div>
      <div class="grid-content flex-grow-1">
        <div id="grid1"></div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
