{% extends "base.html" %}

{% block header %}

<meta charset="utf-8" lang="ko" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>복무관리시스템</title>

<style type="text/css">
  body {
    background: #f8f8f8;
  }
  .top {
    background: var(--p1);
    height: 40px;
    min-width: 960px;
  }
  
  .nav-tabs {
    border-bottom: 2px solid var(--p1);
    background: rgba(var(--p1-rgb), 0.3);
  }
  
  .nav-tabs>li {
    position: relative;
  }

  .nav-tabs>li>span {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    color: #EF6461;
  }

  ul.nav-tabs li:hover>span {
    display: inline-block;
  }

  .nav-tabs .nav-link {
    margin-bottom: 0 !important;
    border: 0 !important;
    background: rgba(var(--p1-rgb), 0.5);
    padding-right: 28px;
    font-weight: 500;
    font-size: 13px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: white !important;
  }

  .nav-tabs .nav-link.active {
    background: var(--p1);
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }

  .tab-content {
    flex: 1;
  }
  
  .menu-content li {
    font-size: 13px;
    position: relative;
    display: flex;
    align-items: center;
    height: 32px;
    cursor: pointer;
  }

  .menu-content li[mm].active {
    background: #E4E4E4;
    font-weight: 800;
  }
  
  .expand {
    display: initial;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    font-size: 30px;
    transition: transform 0.2s ease-in-out;
    user-select: none;
  }
  
  .expand.rotate {
    /* display: none; */
    transform: translateY(-50%) rotate(180deg);
  }

  .sidebar-main {
    background: var(--p1);
    flex: 0 0 80px;
    text-align: center;
    font-size: 13px;
    color: #fff;
    z-index: 2;
    /* border-top-right-radius: 1rem; */
  }

  .sidebar-main__item {
    position: relative;
    cursor: pointer;
  }
  .sidebar-main__item:hover,
  .sidebar-main__item.active {
    background: #fff;
    color: var(--p1);
  }
  .sidebar-main__item.active:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 4px;
    background: var(--p5);
  }

  .sidebar-main__icon {
    font-size: 28px;
  }

  .sidebar-sub {
    position: relative;
    background: #fff;
    color: #444;
    flex: 0 0 170px;
    font-size: 17px;
    box-shadow: 4px 0px 13px -11px;
    transition: all 0.2s ease-in-out;
    z-index: 1;
  }

  .sidebar-sub.collapsed {
    flex-basis: 0;
    width: 0px;
    padding: 0 !important;
    border-right: 2px solid var(--p2);
  }

  .sidebar-sub__toggle {
    position: absolute;
    top: 0;
    right: 0;
    background: var(--p2);
    width: 10px;
    height: 37px;
    transform: translateX(100%);
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    cursor: pointer;
  }

  #menu-content .menu {
    border-bottom: 1px solid #dee2e6;
  }
  #menu-content .menu:nth-child(1) {
    border-top: 1px solid #dee2e6;
  }

  .sub-menu {
    border-bottom: 1px solid #dee2e6;
  }
  
  #menu-content .sub-menu:nth-last-child(1) {
    border-bottom: 0;
  }

  .menu__name {
    color: var(--p1);
  }

  .sidebar-sub__title {
    color: var(--p1);
  }

</style>
{% endblock %}

{%block contents%}
{% for m in mn %}
  {{m}}
{% endfor %}

<div class="wrap d-flex flex-column h-100 pb-1">
  <!-- Top -->
  <div class="top w-100 sticky-top navbar navbar-dark sticky-top flex-md-nowrap p-0">
    <div class="d-inline-block input-group input-group-sm ml-3">
      <input type="text" class="form-control rounded-pill" ria-describedby="inputGroup-sizing-sm" style="width: 200px">
    </div>
    <a href="/" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
      {% load static %}
      <img src="{% static 'img/built1-logo.png' %}" style="width: 80px;">
    </a>
  </div>

  <div class="container-fluid d-flex h-100">
    <div class="row w-100 flex-nowrap">
      <!-- Sidebar start -->
      <div class="sidebar-main mt-2 pt-3">
        <ul id="mainList">
        {% for item in mainMenuList %}
          <li class="sidebar-main__item py-2 {{item.active}}">
            <span class="main__icon material-icons" mcd="{{item.mainCd}}">{{item.icon}}</span>
            <div class="mt-1">{{item.mainNm}}</div>
          </li>
        {% endfor %}
        </ul>
      </div>
      <div class="sidebar-sub px-3 mt-2">
        <div id="toggleSidebar" class="sidebar-sub__toggle"></div>
        <div class="font-weight-bold mt-3 mb-4 d-flex align-items-center overflow-hidden">
          <span class="sidebar-sub__title">복무관리</span>
          <div class="ml-auto">
            <span id="showAll" class="material-icons border small" style="cursor: pointer;">add</span>
            <span id="hideAll" class="material-icons border small" style="cursor: pointer;">remove</span>
          </div>
        </div>
        <div class="overflow-hidden">
          <ul id="menu-content" class="menu-content collapse show out">
            <li class="menu" data-toggle="collapse" data-target="#test1">
              <div class="menu__name font-weight-bold">명부관리</div>
              <span class="expand material-icons">expand_less</span>
            </li>
            <ul class="sub-menu collapse show active" id="test1">
              <li class="pl-2" mm="/url1" own="me" data-toggle="tooltip" data-placement="right" title="명부 /url1">명부</li>
              <li class="pl-2" mm="/url2" own="me" data-toggle="tooltip" data-placement="right" title="명부기록 /url2">명부기록</li>
            </ul>
            <li class="menu" data-toggle="collapse" data-target="#test2">
              <div class="menu__name font-weight-bold">출퇴근</div>
              <span class="expand material-icons">expand_less</span>
            </li>
            <ul class="sub-menu collapse show active" id="test2">
              <li class="pl-2" mm="/url3" own="me" data-toggle="tooltip" data-placement="right" title="출퇴근기록 /url3">출퇴근기록</li>
              <li class="pl-2" mm="/url4" own="me" data-toggle="tooltip" data-placement="right" title="출퇴근사진 /url4">출퇴근사진</li>
            </ul>
            <li class="menu" data-toggle="collapse" data-target="#test3">
              <div class="menu__name font-weight-bold">복무확인서</div>
              <span class="expand material-icons">expand_less</span>
            </li>
            <ul class="sub-menu collapse show active" id="test3">
              <li class="pl-2" mm="/url5" own="me" data-toggle="tooltip" data-placement="right" title="신청 /url5">신청</li>
              <li class="pl-2" mm="/url6" own="me" data-toggle="tooltip" data-placement="right" title="대리신청 /url6">대리신청</li>
              <li class="pl-2" mm="/url7" own="me" data-toggle="tooltip" data-placement="right" title="발급현황 /url7">발급현황</li>
            </ul>
            <li class="menu" data-toggle="collapse" data-target="#test4">
              <div class="menu__name font-weight-bold">국외여행허가추천서</div>
              <span class="expand material-icons">expand_less</span>
            </li>
            <ul class="sub-menu collapse show active" id="test4">
              <li class="pl-2" mm="/url8" own="me" data-toggle="tooltip" data-placement="right" title="신청 /url8">신청</li>
              <li class="pl-2" mm="/url9" own="me" data-toggle="tooltip" data-placement="right" title="발급 /url9">발급</li>
              <li class="pl-2" mm="/url10" own="me" data-toggle="tooltip" data-placement="right" title="발급현황 /url10">발급현황</li>
            </ul>
          </ul>
        </div>
      </div>
      <!-- Sidebar end -->

      <!-- Menu start -->
      <div id="container_body" style="flex: 1 0 680px;">
        <div class="d-flex flex-column h-100">
          <!-- Nav tabs -->
          <ul id="navs" class="nav nav-tabs mb-0 ml-3 mt-2 rounded" style="overflow: hidden;" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#home">Home</a><span class="material-icons small">clear</span>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content ml-3">
            <div id="home" class="tab-pane w-100 h-100 active">
              <div id="cont_head_wrapper" class="chw">
                <div id="cont_nav_wrap">
                  <nav id="cont_nav" aria-label="breadcrumb" class="my-2" style="font-size:13px;text-align:left;">
                    <div style="display: inline-block; ">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item active"><span class="material-icons small">settings</span><span> 시스템</span></li>
                        <li class="breadcrumb-item active" id="nav_step1">기준정보</li>
                        <li class="breadcrumb-item" aria-current="page" id="nav_step2">
                        </li>메뉴등록</li>
                      </ol>
                    </div>
                  </nav>
                </div>
              </div>
              {% block content %}
              {% endblock %}
              <iframe id="content_frm" class="w-100 h-100" src="/esm_sys_1020"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Menu end -->
</div>

<!-- New Tab Template -->
<div id="newtab" class="container tab-pane active" style="display: none;">
  <div id="cont_head_wrapper">
    <div id="cont_nav_wrap">
      <nav id="cont_nav" aria-label="breadcrumb" class="my-2" style="font-size:13px;text-align:left;">
        <div style="display: inline-block;">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active"><span class="material-icons small">home</span></li>
            <li class="breadcrumb-item active" id="nav_step1">Content Template</li>
            <li class="breadcrumb-item" aria-current="page" style="" id="nav_step2">
              Template
              3TH
            </li>
          </ol>
        </div>
      </nav>
    </div>
  </div>
  <iframe id="content_frm" class="w-100 h-100" src=""></iframe>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $(".nav-tabs")
      .on("click", "a", function (e) {
        e.preventDefault();
        if (!$(this).hasClass('add-contact')) {
          $(this).tab('show');
        }
      })
      .on("click", "span", function () {
        var $a =$(this).siblings('a');
        var isActive = $a.hasClass('active');
        var tabId = $a.attr('href');
        var tabWin = $(tabId).find('#content_frm').get(0).contentWindow;

        /* 변경사항 체크로직
        var isGrdModified = tabWin.checkChangeData(true);
        if (isGrdModified) {
          if (!confirm(tabWin.ld.changedButClose)) {
            return;
          }
        }
        */

        $(tabId).remove();
        $(this).parent().remove();

        // 활성화 된 화면을 닫는 경우 첫 탭 클릭
        if (isActive) {
          $(".nav-tabs li.nav-item").children('a').first().click();
        }
      });

    // 탭화면 추가
    function addNavTab(tabId, tabNm, mm) {
      var len = $(".nav-tabs li.nav-item").length;

      for (var i = 0; i < len; i++) {
        var $a = $(".nav-tabs").children().eq(i).find('a');
        var title = $a.text();
        if (title.replace(" x ", "").trim() == tabNm.trim()) {
          $a.click();
          return;
        }
      }

      // 최대 8개까지
      if (len >= 8) {
        alert('최대 탭 8');
        return;
      }

      var tabContent = $("#newtab").html();
      $('.tab-content').append('<div class="tab-pane w-100 h-100 active" id="' + tabId + '">' + tabContent + '</div>');

      $('.nav-tabs').append('<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#' + tabId + '">' + tabNm + '</a><span class="material-icons small">clear</span></li>');
      $('.nav-tabs').children('li').last().find('a').click();

      /* 이미 열려있는 창을 새로 로드하지 않도록 탭추가후에 화면 로드 처리 */
      $('#' + tabId + ' #content_frm').attr('src', mm);
    }

    // 대메뉴 클릭
    $("#mainList > li").click(function() {
      $(this).siblings().removeClass('active');
      $(this).addClass('active');
    });

    // 소메뉴 클릭
    $('#menu-content li[mm]').on('click', function () {
      var mm = $(this).attr('mm'); // url

      // 현 엘리먼트만 active class 적용
      $('#menu-content li').removeClass('active');
      $(this).addClass('active');

      // 탭 정보 파싱
      var tabId = mm.replace(/\//g, "").replace(".html", "");
      var tabNm = $(this).text();

      // Nav영역에 탭 추가
      addNavTab(tabId, tabNm, mm);

      // breadscrumb 생성
      
      var higherMenuText = $(this).parent(".sub-menu").prev("li").find('div').text().replace(/[\t\s]/g, ''); // 현 메뉴의 상단 분류 제목
      $('#' + tabId + ' #nav_step1').text(higherMenuText);
      $('#' + tabId + ' #nav_step2').text($(this).text());
    });

    $('#showAll').click(function() {
      $('ul.sub-menu').collapse('show');
    });
    
    $('#hideAll').click(function() {
      $('ul.sub-menu').collapse('hide');
    });

    $('ul.sub-menu').on('show.bs.collapse', function () {
      $(this).prev().find('span.expand').removeClass('rotate');
    })

    $('ul.sub-menu').on('hide.bs.collapse', function () {
      $(this).prev().find('span.expand').addClass('rotate');
    })

    $('#toggleSidebar').click(function() {
      $('.sidebar-sub').toggleClass('collapsed');
    })

    /* 아직 안씀
    $(window).on('resize', function () {
      if (typeof (window.innerWidth) == 'number') {
        var visible_height = $(window).height();
      }
    }).trigger('resize');

    if ('{{log.lang}}' == 'kor') {
      $('#close_all_tab').attr('title', '모든 탭 닫기');
    }
    else {
      $('#close_all_tab').attr('title', 'close all tabs');
    }

    $('#close_all_tab').on('click', function () {
      var msg;
      if ('{{log.lang}}' == 'kor') {
        msg = 'Changes may not apply.\n But Close This?';
      }
      else {
        msg = '변경사항이 적용되지 않을 수 있습니다. \n화면을 닫으시겠습니까?';
      }
      if (!confirm(msg)) {
        return;
      }
      $('#navs').empty();
      $('.tab-content').empty();
      return true;
    });
    */
  }); //.trigger('resize'); // ready end
</script>

{%endblock%}