{% extends "esm_com/base.html" %} {% block header %}
<title>전자식 복무관리 시스템</title>
{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %} {%block contents%}

<div class="wrap d-flex flex-column h-100 pb-1">
  <!-- Top -->
  <div class="top w-100 sticky-top navbar navbar-dark sticky-top flex-md-nowrap p-0">
    <div class="container" style="max-width: 100%">
      <a href="/">
        {% load static %}
        <img src="{% static 'img/built1-logo.png' %}" style="width: 80px" />
      </a>
      <div class="d-flex mr-3">
        <input type="checkbox" id="changeLang" name="switch" class="input-switch" checked />
        <label for="changeLang" class="label-switch mr-3">
          <span class="marble"></span>
          <span class="on">KOR</span>
          <span class="off">ENG</span>
        </label>

        <span class="text-white mr-3">{{request.session.user_name}}</span>
        <a href="/logout">
          <span class="text-white">logout</span>
        </a>
      </div>
    </div>
  </div>

  <div class="container-fluid d-flex h-100 pl-0 justify-content-center">
    <div class="row w-100 flex-nowrap">
      <!-- Sidebar start -->
      <div class="sidebar-main mt-2 pt-3">
        <ul id="mainList">
          {% for item in mainMenuList %}
          <li class="sidebar-main__item py-2 {{item.active}}" data-menu-cd="{{item.menuCd}}">
            <span class="main__icon material-icons">{{item.icons}}</span>
            <div class="mt-1">{{item.menuNameKo}}</div>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="sidebar-sub px-3 mt-2">
        <div id="toggleSidebar" class="sidebar-sub__toggle"></div>
        <div class="font-weight-bold mt-3 mb-4 d-flex align-items-center overflow-hidden text-nowrap">
          <span class="sidebar-sub__title">복무관리</span>
          <div class="ml-auto">
            <span id="showAll" class="material-icons border small" style="cursor: pointer">add</span>
            <span id="hideAll" class="material-icons border small" style="cursor: pointer">remove</span>
          </div>
        </div>
        <div class="overflow-hidden text-nowrap">
          <!-- 서브메뉴 -->
          <ul id="menu-content" class="menu-content collapse show out"></ul>
        </div>
      </div>
      <!-- Sidebar end -->

      <!-- Menu start -->
      <div id="container_body" style="flex: 1 0 680px">
        <div class="d-flex flex-column h-100">
          <!-- Nav tabs -->
          <ul id="navs" class="nav nav-tabs mb-0 ml-3 mt-2 rounded" style="overflow: hidden" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#home">Home</a><span class="material-icons small">clear</span>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="mt-2 tab-content ml-3">
            <div id="home" class="tab-pane w-100 h-100 active">
              <div id="cont_head_wrapper" class="mt-1 mb-2" style="display: none">
                <div id="cont_nav_wrap">
                  <nav id="cont_nav" aria-label="breadcrumb" class="text-right" style="font-size: 13px">
                    <div style="display: inline-block">
                      <ol class="breadcrumb py-0">
                        <li class="breadcrumb-item active">
                          <span id="nav1Icon" class="material-icons small">settings</span>
                          <span id="nav1Text"> 시스템</span>
                        </li>
                        <li id="nav2Text" class="breadcrumb-item active">기준정보</li>
                        <li id="nav3Text" class="breadcrumb-item" aria-current="page">메뉴등록</li>
                      </ol>
                    </div>
                  </nav>
                </div>
              </div>
              {% block content %} {% endblock %}
              <iframe id="content_frm" class="w-100 h-100" src="/esm_sys_1020"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Menu end -->
</div>

<!-- New Tab Template -->
<div id="newtab" class="container tab-pane active" style="display: none">
  <div id="cont_head_wrapper" class="mt-1 mb-2" style="display: none">
    <div id="cont_nav_wrap">
      <nav id="cont_nav" aria-label="breadcrumb" class="mt-1 mb-2 text-right" style="font-size: 13px">
        <div style="display: inline-block">
          <ol class="breadcrumb py-0">
            <li class="breadcrumb-item active">
              <span id="nav1Icon" class="material-icons small">home</span>
              <span id="nav1Text"> 시스템</span>
            </li>
            <li id="nav2Text" class="breadcrumb-item active">중분류</li>
            <li id="nav3Text" class="breadcrumb-item" aria-current="page"></li>
          </ol>
        </div>
      </nav>
    </div>
  </div>
  <iframe id="content_frm" class="w-100 h-100" src=""></iframe>
</div>

<script type="text/javascript">
  $(function () {
    $("#navs")
      .on("click", "a", function (e) {
        e.preventDefault();
        if (!$(this).hasClass("add-contact")) {
          $(this).tab("show");
        }
      })
      .on("click", "span", function () {
        var $a = $(this).siblings("a");
        var isActive = $a.hasClass("active");
        var tabId = $a.attr("href");
        var tabWin = $(tabId).find("#content_frm").get(0).contentWindow;

        /* 변경사항 체크로직
        var isGrdModified = tabWin.checkChangeData(true);
        if (isGrdModified) {
          if (!confirm(tabWin.ld.changedButClose)) {
            return;
          }
        }
        */

        $(tabId).remove();
        $(this).parent().remove();

        // 활성화 된 화면을 닫는 경우 첫 탭 클릭
        if (isActive) {
          $("#navs li.nav-item").children("a").first().click();
        }
      });

    // 탭화면 추가
    function addNavTab(menuCd, menuNm, url) {
      var len = $("#navs li.nav-item").length;

      for (var i = 0; i < len; i++) {
        var $a = $("#navs").children().eq(i).find("a");
        if ($a.data("menuCd") === menuCd) {
          $a.click();
          return true;
        }
      }

      // 최대 8개까지
      if (len >= 10) {
        alert("최대 10개 화면을 사용할 수 있습니다. 화면을 닫고 사용하시기 바랍니다.");
        return;
      }

      var tabContent = $("#newtab").html();
      $(".tab-content").append('<div class="tab-pane w-100 h-100 active" id="tabs-' + menuCd + '">' + tabContent + "</div>");

      $("#navs").append(
        '<li class="nav-item"><a class="nav-link" data-toggle="tab" data-menu-cd="' +
          menuCd +
          '"href="#tabs-' +
          menuCd +
          '">' +
          menuNm +
          '</a><span class="material-icons small">clear</span></li>'
      );
      $("#navs").children("li").last().find("a").click();
      $("#tabs-" + menuCd + " #content_frm").attr("src", url);

      return true;
    }

    // 대메뉴 클릭
    $("#mainList > li").click(function () {
      if (!$(this).hasClass("active")) {
        $(this).siblings().removeClass("active");
        $(this).addClass("active");
        getSubMenuList();
      }
    });

    $("#showAll").click(function () {
      $("ul.sub-menu").collapse("show");
    });

    $("#hideAll").click(function () {
      $("ul.sub-menu").collapse("hide");
    });

    $("#toggleSidebar").click(function () {
      $(".sidebar-sub").toggleClass("collapsed");
    });

    /* 아직 안씀
    $(window).on('resize', function () {
      if (typeof (window.innerWidth) == 'number') {
        var visible_height = $(window).height();
      }
    }).trigger('resize');

    if ('{{log.lang}}' == 'kor') {
      $('#close_all_tab').attr('title', '모든 탭 닫기');
    }
    else {
      $('#close_all_tab').attr('title', 'close all tabs');
    }
    */

    // 탭 열기
    function openMenu(e) {
      var url = $(this).data("url");
      if (!url) return;

      var menuCd = $(this).data("menuCd");
      var menuNm = $(this).data("menuNm");

      // Nav영역에 탭 추가
      if (!addNavTab(menuCd, menuNm, url)) return;

      // 현 엘리먼트만 active class 적용
      $("#menu-content li").removeClass("active");
      $(this).addClass("active");

      // breadscrumb 생성
      $("div.tab-pane.active #nav1Icon").text($("#mainList > li.active > span").text());
      $("div.tab-pane.active #nav1Text").text($("#mainList > li.active > div").text());
      $("div.tab-pane.active #nav2Text").text($(this).parent().prev().find("div").text());
      $("div.tab-pane.active #nav3Text").text($(this).text());
    }

    // 서브메뉴 조회
    function getSubMenuList() {
      var menuCd = $("#mainList > li.active").data("menuCd");
      var menuNm = $("#mainList > li.active div").html().trim();

      // 대메뉴 명칭표기
      $(".sidebar-sub__title").html(menuNm);

      var mainParam = {
        parentMenuCd: menuCd,
      };

      var params = {
        url: "/menu/getSubMenuList",
        mainParam: mainParam,
      };

      gfnGetData(params, function (data) {
        $("#menu-content").empty();

        var subMenuList = data.subMenuList;
        var isgroup = false;
        var $ul = $("<ul />", {
          class: "sub-menu collapse show active",
        });

        $ul.on("show.bs.collapse", function () {
          $(this).prev().find("span.expand").removeClass("rotate");
        });

        $ul.on("hide.bs.collapse", function () {
          $(this).prev().find("span.expand").addClass("rotate");
        });

        subMenuList.forEach(function (item, index) {
          if (item.treeLevel === 1) {
            if (isgroup) {
              isgroup = false;
              $("#menu-content").append($ul);
              $ul = $("<ul />", {
                class: "sub-menu collapse show active",
              });
              $ul.on("show.bs.collapse", function () {
                $(this).prev().find("span.expand").removeClass("rotate");
              });

              $ul.on("hide.bs.collapse", function () {
                $(this).prev().find("span.expand").addClass("rotate");
              });
            }

            // 중분류
            var $li = $("<li />", {
              class: "menu",
              "data-toggle": "collapse",
              "data-target": "#group" + item.menuCd,
            });
            var $div = $("<div />", { text: item.menuNameKo, class: "menu__name font-weight-bold" });
            var $span = $("<span />", { text: "expand_less", class: "expand material-icons" });

            $li.append($div);
            $li.append($span);
            $("#menu-content").append($li);
          } else if (item.treeLevel === 2) {
            var $li = $("<li />", {
              text: item.menuNameKo,
              class: "pl-2",
              "data-menu-nm": item.menuNameKo,
              "data-toggle": "tooltip",
              "data-placement": "right",
              "data-url": item.url,
              "data-parent-menu-cd": item.parentMenuCd,
              "data-menu-cd": item.menuCd,
            });
            $ul.attr("id", "group" + item.parentMenuCd);
            $li.click(openMenu);
            $ul.append($li);
            isgroup = true;

            if (subMenuList.length - 1 === index) {
              $("#menu-content").append($ul);
              $ul = $("<ul />", {
                class: "sub-menu collapse show active",
              });
            }
          }
        });
      });
    }
    getSubMenuList();

    // 언어 변경
    $("#changeLang").change(function () {
      console.log($(this).is(":checked") ? "KOR" : "ENG");
    });
  });

  // nav 컨텍스트 메뉴 기능 추가
  $(function () {
    $.contextMenu({
      selector: "#navs > li",
      items: {
        refresh: {
          name: "새로고침",
          icon: "fa-refresh",
          callback: function (itemKey, opt, e) {
            opt.$trigger.find("a").click();
            var $a = $(this).find("a");
            var tabId = $a.attr("href");
            var tabWin = $(tabId).find("#content_frm").get(0).contentWindow;
            tabWin.location.reload(); // iframe 새로고침
          },
        },
        sep1: "---------",
        close: {
          name: "닫기",
          callback: function (itemKey, opt, e) {
            var $a = opt.$trigger.find("a");
            var isActive = $a.hasClass("active");
            var tabId = $a.attr("href");
            var tabWin = $(tabId).find("#content_frm").get(0).contentWindow;

            $(tabId).remove();
            $(opt.$trigger).remove();

            if (isActive) {
              $("#navs").children("li").first().find("a").click();
            }
          },
        },
        colseOthers: {
          name: "다른 탭 닫기",
          callback: function (itemKey, opt, e) {
            opt.$trigger.siblings().each(function () {
              var $a = $(this).find("a");

              var isActive = $a.hasClass("active");
              var tabId = $a.attr("href");
              var tabWin = $(tabId).find("#content_frm").get(0).contentWindow;

              $(tabId).remove();
              $(this).remove();
            });

            opt.$trigger.find("a").click();
          },
          disabled: function (key, opt) {
            if (opt.$trigger.siblings().length === 0) {
              return true;
            }
          },
        },
        closeRight: {
          name: "우측 탭 닫기",
          callback: function (itemKey, opt, e) {
            while (opt.$trigger.next().length) {
              var $a = opt.$trigger.next().find("a");

              var isActive = $a.hasClass("active");
              var tabId = $a.attr("href");
              var tabWin = $(tabId).find("#content_frm").get(0).contentWindow;

              $(tabId).remove();
              opt.$trigger.next().remove();
            }
            opt.$trigger.find("a").click();
          },
          disabled: function (key, opt) {
            if (opt.$trigger.next().length === 0) {
              return true;
            }
          },
        },
      },
      // autoHide: true, // 컨텍스트메뉴에서 마우스가 멀어지면 자동으로 닫는 기능
    });
  });
</script>

{%endblock%}
