<html>
  <head>
    <meta charset="UTF-8" />
    <!-- Learn more about this tag here: https://www.w3schools.com/css/css_rwd_viewport.asp -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Learn more about this tag here: https://docs.microsoft.com/en-us/previous-versions/windows/internet-explorer/ie-developer/compatibility/jj676915(v=vs.85)?redirectedfrom=MSDN -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Minified bootstrap css  -->

    <title>전자식 복무관리 시스템</title>

    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}"/>
    <!-- Jquery -->
    <script src="{% static 'plugins/jquery-3.5.1/jquery.min.js' %}"></script>

    <!-- Jquery ContextMenu-->
    <link rel="stylesheet" href="{% static 'plugins/jquery-contextmenu-2.9.2/css/jquery.contextMenu.min.css' %}" />
    <script src="{% static 'plugins/jquery-contextmenu-2.9.2/js/jquery.contextMenu.min.js' %}"></script>
    <script src="{% static 'plugins/jquery-contextmenu-2.9.2/js/jquery.ui.position.js' %}"></script>

    <!-- 구글 웹폰트 적용('Noto Sans KR') -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet" />

    <!-- Material 웹폰트 적용 -->
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" />

    <!-- fontawesome 웹폰트 적용 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    <!-- reset styles -->
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />

    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/bootstrap-4.6.0/css/bootstrap.min.css' %}" />
    <script src="{% static 'plugins/bootstrap-4.6.0/js/bootstrap.min.js' %}"></script>

    <!-- Customized styles -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />

    <!-- css var 관련 포니필 추가 -->
    <script src="https://cdn.jsdelivr.net/npm/css-vars-ponyfill@2"></script>

    <!-- 공통 자바스크립트 -->
    <script src="{% static 'js/common.js' %}"></script>

    <!-- jquery 커스터마이징 -->
    <script src="{% static 'js/ajax.js' %}"></script>

    <!-- 리얼그리드 -->
    <script type="text/javascript" src="{% static '/plugins/realgridjs/realgridjs-lic.js'%}"></script>
    <script type="text/javascript" src="{% static '/plugins/realgridjs/realgridjs_eval.1.1.36.min.js'%}"></script>
    <script type="text/javascript" src="{% static '/plugins/realgridjs/realgridjs-api.1.1.36.js'%}"></script>
    <script type="text/javascript" src="{% static '/plugins/realgridjs/jszip.min.js'%}"></script>

    <!-- 부트스트랩 DatePicker -->
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/bootstrap-datepicker-1.9.0-dist/css/bootstrap-datepicker.min.css' %}"/>
    <script type="text/javascript" src="{% static 'plugins/bootstrap-datepicker-1.9.0-dist/js/bootstrap-datepicker.min.js' %}"></script>


    <script type="text/javascript" src="{% static '/js/lib/comDate.js'%}"></script>
    <script type="text/javascript" src="{% static '/js/lib/comExcel.js'%}"></script>
    <script type="text/javascript" src="{% static '/js/lib/comForm.js'%}"></script>
    <script type="text/javascript" src="{% static '/js/lib/comGrid.js'%}"></script>
    <script type="text/javascript" src="{% static '/js/lib/comReport.js'%}"></script>
    <script type="text/javascript" src="{% static '/js/lib/comTrans.js'%}"></script>
    <script type="text/javascript" src="{% static '/js/lib/comUtil.js'%}"></script>
    <script type="text/javascript" src="{% static '/js/lib/comModal.js'%}"></script>

    {% block header %} {% endblock %}
  </head>

  <body>
    {% block contents %} {% endblock %}

    <script>
      cssVars(); // css var 포니필 적용
    </script>
  </body>
</html>
