<html>
  <head>
    <meta charset="UTF-8" />
    <!-- Learn more about this tag here: https://www.w3schools.com/css/css_rwd_viewport.asp -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Learn more about this tag here: https://docs.microsoft.com/en-us/previous-versions/windows/internet-explorer/ie-developer/compatibility/jj676915(v=vs.85)?redirectedfrom=MSDN -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Minified bootstrap css  -->

    <title>전자식 복무관리 시스템</title>

    {% load static %}
    <!-- Jquery -->
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>

    <!-- 구글 웹폰트 적용('Noto Sans KR') -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet" />

    <!-- xeicon -->
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css" />

    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% load random_numbers %}
    <link rel="stylesheet" href="{% static 'css/bizform.css'%}?v={% random_number %}" />

    <!-- css var 관련 포니필 추가 -->
    <script src="https://cdn.jsdelivr.net/npm/css-vars-ponyfill@2"></script>

    <!-- 공통 자바스크립트 -->
    <script src="{% static 'js/common.js' %}"></script>

    <!-- jquery 커스터마이징 -->
    <script src="{% static 'js/ajax.js' %}"></script>

    <!-- 리얼그리드 -->
    <script type="text/javascript" src="{% static '/plugins/realgridjs/realgridjs-lic.js'%}"></script>
    <script type="text/javascript" src="{% static '/plugins/realgridjs/realgridjs_eval.1.1.36.min.js'%}"></script>
    <script type="text/javascript" src="{% static '/plugins/realgridjs/realgridjs-api.1.1.36.js'%}"></script>

    <!-- 부트스트랩 DatePicker -->
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/bootstrap-datepicker-1.9.0-dist/css/bootstrap-datepicker.min.css' %}"/>
    <script type="text/javascript" src="{% static 'plugins/bootstrap-datepicker-1.9.0-dist/js/bootstrap-datepicker.min.js' %}"></script>

    <script type="text/javascript" src="{% static '/js/lib/comConstants.js'%}"></script>
    <script type="text/javascript" src="{% static '/js/lib/comDate.js'%}"></script>
    <script type="text/javascript" src="{% static '/js/lib/comExcel.js'%}"></script>
    <script type="text/javascript" src="{% static '/js/lib/comForm.js'%}"></script>
    <script type="text/javascript" src="{% static '/js/lib/comGrid.js'%}"></script>
    <script type="text/javascript" src="{% static '/js/lib/comReport.js'%}"></script>
    <script type="text/javascript" src="{% static '/js/lib/comTrans.js'%}"></script>
    <script type="text/javascript" src="{% static '/js/lib/comUtil.js'%}"></script>
    <script type="text/javascript" src="{% static '/js/lib/comModal.js'%}"></script>

    {% block header %} {% endblock %}
  </head>

  <body>
    {% block contents %} {% endblock %}
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Modal 제목</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div id="contents" class="modal-body">
            Modal 내용
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
          </div>
        </div>
      </div></div>
    
    <script>
      cssVars(); // css var 포니필 적용
      RealGridJS.setRootContext("{% static '/plugins/realgridjs' %}");
    </script>






  </body>
</html>
