<html>
  <head>
    <meta charset="UTF-8" />
    <!-- Learn more about this tag here: https://www.w3schools.com/css/css_rwd_viewport.asp -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Learn more about this tag here: https://docs.microsoft.com/en-us/previous-versions/windows/internet-explorer/ie-developer/compatibility/jj676915(v=vs.85)?redirectedfrom=MSDN -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Minified bootstrap css  -->

    <title>전자식 복무관리 시스템</title>

    {% load static %}
    <!-- Jquery -->
    <script src="{% static 'plugins/jquery-3.5.1/jquery.min.js' %}"></script>

    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/bootstrap-4.6.0/css/bootstrap.min.css' %}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="{% static 'plugins/bootstrap-4.6.0/js/bootstrap.min.js' %}"></script>

    <!-- Jquery Ui -->
    <script src="{% static 'plugins/jquery-ui-1.11.4/js/jquery-ui.js' %}"></script>
    <link rel="stylesheet" href="{% static 'plugins/jquery-ui-1.11.4/css/jquery-ui.css' %}" />

    <!-- 구글 웹폰트 적용('Noto Sans KR') -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet" />

    <!-- reset styles -->
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />

    <!-- xeicon -->
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css" />

    {% load random_numbers %}
    <link rel="stylesheet" href="{% static 'css/bizform.css'%}?v={% random_number %}" />

    <!-- Material 웹폰트 적용 -->
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined">

    <!-- css var 관련 포니필 추가 -->
    <script src="https://cdn.jsdelivr.net/npm/css-vars-ponyfill@2"></script>

    <!-- 공통 자바스크립트 -->
    <script src="{% static 'js/common.js' %}"></script>

    <!-- jquery 커스터마이징 -->
    <script src="{% static 'js/ajax.js' %}"></script>

    <!-- 리얼그리드 -->
    <script type="text/javascript" src="{% static '/plugins/realgridjs/realgridjs-lic.js'%}"></script>
    <script type="text/javascript" src="{% static '/plugins/realgridjs/realgridjs_eval.1.1.36.min.js'%}"></script>
    <script type="text/javascript" src="{% static '/plugins/realgridjs/realgridjs-api.1.1.36.js'%}"></script>
    <script type="text/javascript" src="{% static '/plugins/realgridjs/jszip.min.js'%}"></script>

    <!-- 부트스트랩 DatePicker -->
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/bootstrap-datepicker-1.9.0-dist/css/bootstrap-datepicker.min.css' %}"/>
    <script type="text/javascript" src="{% static 'plugins/bootstrap-datepicker-1.9.0-dist/js/bootstrap-datepicker.min.js' %}"></script>

    <script type="text/javascript" src="{% static '/js/lib/comDate.js'%}"></script>
    <script type="text/javascript" src="{% static '/js/lib/comExcel.js'%}"></script>
    <script type="text/javascript" src="{% static '/js/lib/comForm.js'%}"></script>
    <script type="text/javascript" src="{% static '/js/lib/comGrid.js'%}"></script>
    <script type="text/javascript" src="{% static '/js/lib/comReport.js'%}"></script>
    <script type="text/javascript" src="{% static '/js/lib/comTrans.js'%}"></script>
    <script type="text/javascript" src="{% static '/js/lib/comUtil.js'%}"></script>
    <script type="text/javascript" src="{% static '/js/lib/comModal.js'%}"></script>

    <!-- 모달 관련 Migrate 스크립트, 임시로 사용-->
    <script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
    {% block header %} {% endblock %}
  </head>

  <body>    
      {% block contents %} {% endblock %}
      <!-- 오류 메시지 모달 -->
      <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content ">
            <div class="modal-header" >
              <i class="xi-error-o xi-2x"></i>
              <h5 class="modal-title" id="errorModalTitle">&nbsp;&nbsp;오류 메시지</h5>
              <button type="button" class="close" id="cls" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div id="errorModalContents" class="modal-body">
            </div>
            <div class="modal-footer" >
              <button type="button" class="btn_popup active" data-dismiss="modal"><i class="xi-close"> 닫기</i></button>
            </div>
          </div>
        </div>
      </div>

      <!-- 알림 메시지 모달 -->
      <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content ">
            <div class="modal-header" >
              <i class="xi-error-o xi-2x"></i>
              <h5 class="modal-title" id="infoModalTitle">&nbsp;알림 메시지</h5>
              <button type="button" class="close" id="cls" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div id="infoModalContents" class="modal-body">
            </div>
            <div class="modal-footer" >
              <button type="button" class="btn_sub active" id="close" data-dismiss="modal"><i class="xi-close"> 닫기</i></button>
            </div>
          </div>
        </div>
      </div>

      <!-- 확인 메시지 모달 -->
      <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content ">
            <div class="modal-header" >
              <i class="xi-error-o xi-2x"></i>
              <h5 class="modal-title" id="confirmModalTitle">&nbsp;확인 메시지</h5>
              <button type="button" class="close" id="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div id="confirmModalContents" class="modal-body">
            </div>
            <div class="modal-footer" >              
              <button type="button" class="btn_popup active" id="confirm" data-dismiss="modal"><i class="xi-close-min"> 확인</i></button>
              <button type="button" class="btn_popup active" id="cancel" data-dismiss="modal"><i class="xi-close-min"> 취소</i></button>
            </div>
          </div>
        </div>
      </div>

      
    
    <script>
      // css var 포니필 적용
      cssVars(); 
      RealGridJS.setRootContext("{% static '/plugins/realgridjs' %}");

      $(function () {
        // Modal 이동
        $("#errorModal").draggable({
          handle: ".modal-header",  
        });
      });

      // 달력 포멧 
      $(function(){

        

        

        // $('.input-group.month').datepicker({

        //   calendarWeeks: false,

        //   todayHighlight: true,

        //   autoclose: true,

        //   format: "yyyy-mm",

        //   language: "kr"

        // });

      });

      $(document).ready(function () {

        // $('.input-group.month').gfn_datepickerInit('month','m');

        // $(function () {
        //   $('[data-toggle="tooltip"]').tooltip()
        // })
        
        // tooltip 스트립트
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
          return new bootstrap.Tooltip(tooltipTriggerEl)
        })

        // gfn_datepickerInit('year','y');
        
      });


    </script>
  </body>
</html>
