{% extends "esm_com/bizform.html" %} {% load static %} {% block header %}
<script>
  var grid1;
  $(function () {
    grid1 = $("#grid1").gfn_gridInit([
      { name: "menu_uid",         fieldName: "menu_uid",         header: { text: "메뉴UID" },      width: 250, required: true },
      { name: "parent_menu_cd",   fieldName: "parent_menu_cd",   header: { text: "상위메뉴코드" }, width: 80 , required: true },
      { name: "menu_cd",          fieldName: "menu_cd",          header: { text: "메뉴코드" },     width: 80 , required: true },
      { name: "menu_name_ko",     fieldName: "menu_name_ko",     header: { text: "메뉴명(한글)" }, width: 180, required: true },
      { name: "menu_name_en",     fieldName: "menu_name_en",     header: { text: "메뉴명(영문)" }, width: 220, required: true },
      { name: "url",              fieldName: "url",              header: { text: "url" },          width: 190, required: true },
      { name: "icons",            fieldName: "icons",            header: { text: "아이콘" },       width: 80  },
      { name: "sort_order",       fieldName: "sort_order",       header: { text: "정렬순서" },     width: 60 , required: true },
      { name: "use_yn",           fieldName: "use_yn",           header: { text: "사용" },         width: 60 , required: true },
      { name: "search_yn",        fieldName: "search_yn",        header: { text: "조회" },         width: 60  },
      { name: "add_row_yn",       fieldName: "add_row_yn",       header: { text: "행추가" },       width: 60  },
      { name: "del_row_yn",       fieldName: "del_row_yn",       header: { text: "행삭제" },       width: 60  },
      { name: "save_yn",          fieldName: "save_yn",          header: { text: "저장" },         width: 60  },
      { name: "copy_yn",          fieldName: "copy_yn",          header: { text: "복사" },         width: 40  },
      { name: "batch_yn",         fieldName: "batch_yn",         header: { text: "생성" },         width: 40  },
      { name: "print_yn",         fieldName: "print_yn",         header: { text: "출력" },         width: 40  },
      { name: "excel_down_yn",    fieldName: "excel_down_yn",    header: { text: "엑셀다운" },     width: 80  },
      { name: "excel_up_yn",      fieldName: "excel_up_yn",      header: { text: "엑셀업로드" },   width: 80  },
      { name: "remark",           fieldName: "remark",           header: { text: "비고" },         width: 300 },
      { name: "create_by",        fieldName: "create_by",        header: { text: "생성자UID" },    width: 80  },
      { name: "create_date_time", fieldName: "create_date_time", header: { text: "생성일시" },     width: 150 },
      { name: "update_by",        fieldName: "update_by",        header: { text: "수정자ID" },     width: 80  },
      { name: "update_date_time", fieldName: "update_date_time", header: { text: "수정자ID" },     width: 150 },
    ]);
  });

  /* action1에대한 기능 */
  function doAction1(gubun) {
    switch (gubun) {
      /* 조회 */
      case "search":
        var menuName = $("#menuName").val();
        var url = $("#url").val();
        var useYn = $("#useYn").is(":checked") ? "1" : "0";

        // 화면 조회조건 항목별 값 
        var mainParam = {
          menuName: menuName,
          url: url,
          useYn: useYn,
        };
        console.log("mainParam ->", mainParam);

        // 조회조건, url, grid
        var params = {
          url: "/esm_sys_1020/search",
          grid: "grid1", // or ['grid1', 'grid2', ...]
          mainParam: mainParam,
        };

        // 그리드 조회
        // 라이브러리 경로 : \static\js\lib\comTrans.js
        gfnGetGrdData(params);
        break;

      // 초기화
      case "reset": 
        break;

      // 출력
      case "print":
        break;

      // 복사
      case "copy":
        break;

      // 생성
      case "batch":
        break;

      // 저장
      case "save":
        var params = {
          url: "/esm_sys_1020/save",
          grid: "grid1", // or ['grid1']
          // subParam: {},
        };

        gfnSetGrdData(params, function () {
          doAction1("search");
        });

      // 행추가
      case "addRow":
        grid1.provider.insertRow(0, {});
        break;

      // 행삭제  
      case "delRow":
        var curr = grid1.gridView.getCurrent();
        if (curr.dataRow === -1) {
          return alert("선택된 데이터가 없습니다.");
        }
        grid1.provider.removeRow(curr.dataRow);
        break;

      // 엑셀다운로드
      case "excelDownload":        
        gfn_excelDownload(grid1);
        break;

      // 엑셀업로드
      case "excelUpload":
        alert(gubun);
        break;
    }
  }
</script>
{% endblock %} {% block contents %}
<div class="container-fluid d-flex flex-column p-0 h-100">
  <!-- 검색 조건 영역 -->
  <div class="row no-gutters mb-2">
    <div class="col-12">
      <div class="search-header">
        <div class="search-title">
          <i class="xi-bars"> 조회조건</i>
        </div>
        <div class="search-buttons">
          <button class="btn_sub active" onclick="doAction1('print');"><i class="xi-print"> 출력</i></button>
          <button class="btn_sub active" onclick="doAction1('batch');"><i class="xi-flash"> 자료생성</i></button>
          <button class="btn_sub active" onclick="doAction1('copy');"><i class="xi-folder-add-o"> 자료복사</i></button>
          <button class="btn_sub active" onclick="doAction1('reset');"><i class="xi-refresh"> 초기화</i></button>
          <button class="btn_main active" onclick="doAction1('search');"><i class="xi-search"> 조회</i></button>
          <button class="btn_main active" onclick="doAction1('save');"><i class="xi-save"> 저장</i></button>
        </div>
      </div>
      <form id="srchForm" class="search-content">
        <label for="menuName"><i class="xi-star"></i>메뉴명</label>
        <input type="text" name="menuName" id="menuName" />
        <label for="url" style="margin-left: 15px">URL</label>
        <input type="text" name="url" id="url" />
        <label for="useYn" style="margin-left: 15px">사용여부</label>
        <input type="checkbox" name="useYn" id="useYn" checked />
      </form>
    </div>
  </div>

  <!-- 그리드 영역 -->
  <div class="row no-gutters flex-grow-1">
    <div class="grid col-12 d-flex flex-column">
      <div class="grid-header">
        <div class="grid-title">
          <i class="xi-sort-desc"> 메뉴목록 (<span class="grid-title__cnt">0건</span>)</i>
        </div>
        <div class="grid-buttons">
          <button class="btn_excel active" onclick="doAction1('excelUpload');"><i class="xi-upload"> 엑셀업로드</i></button>
          <button class="btn_excel active" onclick="doAction1('excelDownload');"><i class="xi-download"> 엑셀다운로드</i></button>
          <button class="btn_sub active" onclick="doAction1('delRow');"><i class="xi-minus-min"> 행삭제</i></button>
          <button class="btn_sub active" onclick="doAction1('addRow');"><i class="xi-plus-min"> 행추가</i></button>
        </div>
      </div>
      <div class="grid-content flex-grow-1">
        <div id="grid1"></div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
