{% extends "esm_com/bizform.html" %} {% load static %} {% block header %}
<script>
  var grid1;
  $(function () {
    var comboYnList = [
      {
        code: '',
        name: '선택',
      },
      {
        code: 'Y',
        name: 'Y',
      },
      {
        code: 'N',
        name: 'N',
      },
    ];
    // var comboYnList2 = gfnGetData({
    //   url: 
    // });

    grid1 = $("#grid1").gfnGridInit([
      { fieldName: "menu_uid",         text: "메뉴UID",           width: 250, required: true },
      { fieldName: "parent_menu_cd",   text: "상위메뉴코드",      width: 80 , required: true , align: 'center'},
      { fieldName: "menu_cd",          text: "메뉴코드",          width: 80 , required: true , align: 'center'},
      { fieldName: "menu_name_ko",     text: "메뉴명(한글)",      width: 180, required: true },
      { fieldName: "menu_name_en",     text: "메뉴명(영문)",      width: 220, required: true },
      { fieldName: "url",              text: "url",              width: 190, required: true },
      { fieldName: "icons",            text: "아이콘",            width: 80  },
      { fieldName: "sort_order",       text: "정렬순서",          width: 60, required: true , align: 'far'},
      { fieldName: "use_yn",           text: "사용",              width: 60, align: 'center', required: true , type: 'combo', comboList: comboYnList },
      { fieldName: "search_yn",        text: "조회",              width: 60, align: 'center', type: 'combo', comboList: comboYnList },
      { fieldName: "add_row_yn",       text: "행추가",            width: 60, align: 'center', type: 'combo', comboList: comboYnList },
      { fieldName: "del_row_yn",       text: "행삭제",            width: 60, align: 'center', type: 'combo', comboList: comboYnList },
      { fieldName: "save_yn",          text: "저장",              width: 60, align: 'center', type: 'combo', comboList: comboYnList },
      { fieldName: "copy_yn",          text: "복사",              width: 40, align: 'center', type: 'combo', comboList: comboYnList },
      { fieldName: "batch_yn",         text: "생성",              width: 40, align: 'center', type: 'combo', comboList: comboYnList },
      { fieldName: "print_yn",         text: "출력",              width: 40, align: 'center', type: 'combo', comboList: comboYnList },
      { fieldName: "excel_down_yn",    text: "엑셀다운",           width: 80, align: 'center', type: 'combo', comboList: comboYnList },
      { fieldName: "excel_up_yn",      text: "엑셀업로드",         width: 80, align: 'center', type: 'combo', comboList: comboYnList },
      { fieldName: "remark",           text: "비고",              width: 300 },
      { fieldName: "create_by",        text: "생성자UID",         width: 80  },
      { fieldName: "create_date_time", text: "생성일시",          width: 150, align: 'center', type: 'date', format: 'DATETIME' },
      { fieldName: "update_by",        text: "수정자ID",          width: 80  },
      { fieldName: "update_date_time", text: "수정일시",          width: 150, align: 'center', type: 'date', format: 'DATETIME' },
    ]);

    grid1.gridView.onValidateRow = function(grid, itemIndex, dataRow, inserting, values) {
      console.log('타니')
      // console.log("onValidateRow:" + itemIndex + "," + dataRow + "," + inserting + "," + values.Quantity + "," + values.UnitPrice);

      var error = {};
      error.level = RealGridJS.ValidationLevel.ERROR;
      error.message = "에러발생";
      return error;
    }
  });

  /* action1에대한 기능 */
  function doAction1(gubun) {
    switch (gubun) {
      /* 조회 */
      case "search":
        var menuName = $("#menuName").val();
        var url = $("#url").val();
        var useYn = $("#useYn").is(":checked") ? "1" : "0";

        // 화면 조회조건 항목별 값 
        var mainParam = {
          menuName: menuName,
          url: url,
          useYn: useYn,
        };
        console.log("mainParam ->", mainParam);

        // 조회조건, url, grid
        var params = {
          url: "/esm_sys_1020/search",
          grid: "grid1", // or ['grid1', 'grid2', ...]
          mainParam: mainParam,
        };

        // 그리드 조회
        // 라이브러리 경로 : \static\js\lib\comTrans.js
        gfnGetGrdData(params);
        break;

      // 초기화
      case "reset":
        console.log(gubun)
        document.getElementById("menuName").values='';
        break;

      // 출력
      case "print":
        break;

      // 복사
      case "copy":
        break;

      // 생성
      case "batch":
        break;

      // 저장
      case "save":
        var params = {
          url: "/esm_sys_1020/save",
          grid: "grid1", // or ['grid1']
          // subParam: {},
        };
        
        gfnSetGrdData(params, function () {
          doAction1("search");
        });
        break;
      // 행추가
      case "addRow":
        grid1.gridView.commit(false);
        grid1.provider.insertRow(0, {});
        grid1.gridView.setSelection({
          startItem: 0,
          endItem: 0,
          style: "rows"
        });
        break;

      // 행삭제  
      case "delRow":
        gfnDeleteRowChk(grid1);
        break;

      // 엑셀다운로드
      case "excelDownload":        
        gfnExcelDownload(grid1);
        break;

      // 엑셀업로드
      case "excelUpload":
        alert(gubun);
        break;
    }
  }
</script>
{% endblock %} {% block contents %}
<div class="container-fluid d-flex flex-column p-0 h-100">
  <!-- 검색 조건 영역 -->
  <div class="row no-gutters mb-2">
    <div class="col-12">
      <div class="search-header">
        <div class="search-title">
          <i class="xi-bars"> 조회조건</i>
        </div>
        <div class="search-buttons">
          <button class="btn_sub active" onclick="doAction1('print');"><i class="xi-print"> 출력</i></button>
          <button class="btn_sub active" onclick="doAction1('batch');"><i class="xi-flash"> 자료생성</i></button>
          <button class="btn_sub active" onclick="doAction1('copy');"><i class="xi-folder-add-o"> 자료복사</i></button>
          <button class="btn_sub active" onclick="doAction1('reset');"><i class="xi-refresh"> 초기화</i></button>
          <button class="btn_main active" onclick="doAction1('search');"><i class="xi-search"> 조회</i></button>
          <button class="btn_main active" onclick="doAction1('save');"><i class="xi-save"> 저장</i></button>
        </div>
      </div>
      <form id="srchForm" class="search-content">
        <label for="menuName"><i class="xi-star"></i>메뉴명</label>
        <input type="text" name="menuName" id="menuName" />
        <label for="url" style="margin-left: 15px">URL</label>
        <input type="text" name="url" id="url" />
        <label for="useYn" style="margin-left: 15px">사용여부</label>
        <input type="checkbox" name="useYn" id="useYn" checked />
      </form>
    </div>
  </div>

  <!-- 그리드 영역 -->
  <div class="row no-gutters flex-grow-1">
    <div class="grid col-12 d-flex flex-column">
      <div class="grid-header">
        <div class="grid-title">
          <i class="xi-sort-desc"> 메뉴목록 (<span class="grid-title__cnt">0건</span>)</i>
        </div>
        <div class="grid-buttons">
          <button class="btn_excel active" onclick="doAction1('excelUpload');"><i class="xi-upload"> 엑셀업로드</i></button>
          <button class="btn_excel active" onclick="doAction1('excelDownload');"><i class="xi-download"> 엑셀다운로드</i></button>
          <button class="btn_sub active" onclick="doAction1('delRow');"><i class="xi-minus-min"> 행삭제</i></button>
          <button class="btn_sub active" onclick="doAction1('addRow');"><i class="xi-plus-min"> 행추가</i></button>
        </div>
      </div>
      <div class="grid-content flex-grow-1">
        <div id="grid1"></div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
