html, body {
    height: 98%;
    width: 99%;
    background: #fafafa;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
    font-family: 'Noto Sans KR', 'Nanum Gothic';
    font-size: 13px;
    color: #031b18;
}

/* 여백 */
.container_space {
    background: #fafafa;
    height: 4px;
    width: 100%;
}

/* 여백 */
.container_top_line {
    background: #2A9D8F;
    height: 2px;
    width: 100%;
}


/* 검색출력 */
.container_top {
    display: flex;
    height: 26px;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0px solid #BADCD8;        
}

    .top1 {
        display: flex;
        height: 100%;
        flex-basis: 20%;
        align-items: center;
        text-align: left;
    }
        .top1_group1 {
                display: flex;
                height: 100%;
                width: 100%;            
                border-radius: 4px;
                justify-content: left;
                align-items: center;                                
            }

            .top1_item1 {                
                display: flex;
                background: #2A9D8F;
                color: #eefcfa;
                font-weight: bold;
                padding-left: 6px;
                align-items: center;
                justify-content: center;
                align-content: center;
                border-top-left-radius: 30px;
                border-top-right-radius: 30px;
                margin-left: 12px;
            }

    .top2 {
        display: flex;
        height: 100%;
        flex-basis: 80%;
        background: #fafafa;        
        flex-direction: row-reverse;
        justify-content: flex-start;
    }

        .top2_group1 {
            display: flex;
            height: 98%;
            width: 80px;            
            border-radius: 2px;
            margin-inline-end: 2px;
            align-content: center;
            text-align: center;
            justify-content: center;
            align-items: center;         
        }

            .top2_item1 {
                display: flex;
                background: #2A9D8F;
                color: #eefcfa;
                font-weight: bold
            }

            .top2_item2 {
                display: flex;
                background: #BADCD8;
            }

            .top2_item3{
                display: flex;
                background: #a3c2be;
            }


/* 검색영역 */
.container_search {
    display: flex;
    height: 40px;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0px solid #BADCD8;
}

    .search1 {
        display: flex;
        height: 100%;
        width: 100%;
        background: #fafafa;
    }

        .search1_group1 {
            display: flex;
            height: 100%;
            width: 100%;
            flex-direction: row;
            justify-content: flex-start;
            align-content: center;
            text-align: center;
            justify-content: center;
            align-items: center;       
        }

            .search1_item1 {
                display: flex;
                background: #cbecd0;
                flex-basis: 25%;
            }

            .search1_item2 {
                display: flex;
                background: #badcbf;
                flex-basis: 25%;
            }

            .search1_item3 {
                display: flex;
                background: #b9d3bd;
                flex-basis: 25%;
            }

            .search1_item4 {
                display: flex;
                background: rgb(218, 208, 195);
                flex-basis: 25%;
            }


/* 그리드제목 및 액션 */
.container_control1 {
    display: flex;
    height: 26px;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0px solid #BADCD8;
        
}

    .title1 {
        display: flex;
        height: 100%;
        flex-basis: 40%;  
        align-items: center;
        text-align: left;
    }
        .title1_group1 {
                display: flex;
                height: 100%;
                width: 100%;            
                border-radius: 4px;
                justify-content: left;
                align-items: center;
            }

            .title1_item1 {                
                display: flex;
                background: #2A9D8F;
                color: #eefcfa;
                font-weight: bold;
                padding-left: 6px;                
                justify-content: center;
                align-content: center;
                border-top-left-radius: 30px;
                border-top-right-radius: 30px;
                margin-left: 12px;
            }

    .action1 {
        display: flex;
        height: 100%;
        flex-basis: 60%;
        background: #fafafa;        
        flex-direction: row-reverse;
        justify-content: flex-start;
    }

        .action1_group1 {
            display: flex;
            height: 98%;
            width: 80px;            
            border-radius: 2px;
            margin-inline-end: 2px;
            align-content: center;
            text-align: center;
            justify-content: center;
            align-items: center;
        }

            .action1_item1 {
                display: flex;
                background: #2A9D8F;
                color: #eefcfa;
                font-weight: bold;
            }

            .action1_item2 {
                display: flex;
                background: #BADCD8;
            }

            .action1_item3{
                display: flex;
                background: #BADCD8;
            }

            .action1_item4{
                display: flex;
                background: #a3c2be;
            }

            .action1_item5{
                display: flex;
                background: #a3c2be;
            }


/* 그리드1 */
.container_grid1 {
    background: #f1f1f0;
    height: 86%;
    width: 100%;
}
