html, body {
    font-family: 'Noto Sans KR', 'Nanum Gothic';
    height: 100%;
    background: #fafafa;
    font-size: 13px;
    color: #031b18;
    margin: 0;
    padding: 0;
}

/* 여백 */
.container_space {
    background: #fafafa;
    height: 4px;
    width: 100%;
}

/* 여백 */
.container_space2 {
    background: #fafafa;
    height: 8px;
    width: 100%;
}

/* 헤더라인 */
.container_top_line {
    background: #1d7268;
    height: 1px;
    width: 100%;
}

/* 헤더라인 */
.container_bottom_line {
    background: #259e90;
    height: 1px;
    width: 100%;
}



/* 검색출력 */
.container_top {
    display: flex;
    height: 26px;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0px solid #BADCD8;        
}

    .top1 {
        display: flex;
        height: 100%;
        flex-basis: 12%;
        align-items: center;
        text-align: left;
    }
        .top1_group1 {
                display: flex;
                height: 100%;
                width: 100%;            
                /* border-radius: 4px; */
                justify-content: left;
                align-items: center;                                
            }

            .top1_item1 {                
                display: flex;
                background: #2A9D8F;
                color: #eefcfa;                
                align-items: center;
                justify-content: center;
                align-content: center;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                margin-left: 12px;
                border-top: 1px solid #1d7268;
                border-left: 1px solid #1d7268;
                border-right: 1px solid #1d7268;
            }

    .top2 {
        display: flex;
        height: 100%;
        flex-basis: 88%;
        background: #fafafa;        
        flex-direction: row-reverse;
        justify-content: flex-start;
    }

        .top2_group1 {
            display: flex;
            height: 98%;
            width: 80px;            
            border-radius: 2px;
            margin-inline-end: 2px;
            align-content: center;
            text-align: center;
            justify-content: center;
            align-items: center;         
        }

            .top2_item1 {
                display: flex;
                background: #2A9D8F;
                color: #eefcfa;
                font-weight: bold
            }

            .top2_item2 {
                display: flex;
                background: #BADCD8;
            }

            .top2_item3{
                display: flex;
                background: #BADCD8;
            }


/* 검색영역 */
.container_search {
    display: flex;
    height: 40px;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0px solid #BADCD8;
}

    .search1 {
        display: flex;
        height: 100%;
        width: 100%;
        background: #fafafa;
    }

        .search1_group1 {
            display: flex;
            height: 100%;
            width: 100%;
            flex-direction: row; /* flex div 좌측 정렬 */
            text-align: right;   
            align-items: center; /* 가로 중앙정렬 */
        }

            .search1_item1 {
                display: flex;
                background: #eaf5ec;
                flex-basis: 8%;
                text-align: right;
            }

            .search1_item2 {
                display: flex;
                background: #f2f5ea;
                flex-basis: 17%;
            }

            .search1_item3 {
                display: flex;
                background: #eaf5ec;
                flex-basis: 8%;
            }

            .search1_item4 {
                display: flex;
                background: #f2f5ea;
                flex-basis: 17%;
            }

            .search1_item5 {
                display: flex;
                background: #eaf5ec;
                flex-basis: 8%;
            }

            .search1_item6 {
                display: flex;
                background: #f2f5ea;
                flex-basis: 17%;
            }

            .search1_item7 {
                display: flex;
                background: #eaf5ec;
                flex-basis: 8%;
            }

            .search1_item8 {
                display: flex;
                background: #f2f5ea;
                flex-basis: 17%;
            }


/* 그리드제목 및 액션 */
.container_control1 {
    display: flex;
    height: 26px;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0px solid #BADCD8;
        
}

    .title1 {
        display: flex;
        height: 100%;
        flex-basis: 30%;  
        align-items: center;
        text-align: left;
    }
        .title1_group1 {
                display: flex;
                height: 100%;
                width: 100%;            
                justify-content: left;
                align-items: center;
            }

            .title1_item1 {                
                display: flex;
                background: #2A9D8F;                                
                justify-content: left;
                padding-left: 20px;                
                align-content: center;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                margin-left: 12px;
                border-top: 1px solid #1d7268;
                border-left: 1px solid #1d7268;
                border-right: 1px solid #1d7268;
            }

    .action1 {
        display: flex;
        height: 100%;
        flex-basis: 70%;
        background: #fafafa;        
        flex-direction: row-reverse;
        justify-content: flex-start;
    }

        .action1_group1 {
            display: flex;
            height: 98%;
            width: 80px;
            border-radius: 2px;
            margin-inline-end: 2px;
            align-content: center;
            text-align: center;
            justify-content: center;
            align-items: center;
        }

            .action1_item1 {
                display: flex;
                background: #2A9D8F;
                color: #eefcfa;
                font-weight: bold;
            }

            .action1_item2 {
                display: flex;
                background: #BADCD8;
            }

            .action1_item3{
                display: flex;
                background: #BADCD8;
            }

            .action1_item4{
                display: flex;
                background: #badccb;
                width: 100px;
            }

            .action1_item5{
                display: flex;
                background: #badccb;
                width: 100px;
            }


/* 그리드1 */
.container_grid1 {
    background: #f1f1f0;
    height: 88%;
    width: 100%;
}


/* 웹 폰트 */
/* 검색조건 */
.xi-bars {
    font-size: 14px;
    color: #eefcfa;
}

/* 그리드 제목 */
.xi-sort-desc {
    font-size: 14px;
    color: #eefcfa;
}

/* 조회 */
.xi-search {
    font-size: 12px;
    color: #eefcfa;
}

/* 초기화 */
.xi-refresh {
    font-size: 12px;
    color: #0e413b;
}

/* 출력 */
.xi-print {
    font-size: 12px;
    color: #0e413b;
}


/* 저장 */
.xi-save {
    font-size: 12px;
    color: #eefcfa;
}

/* 행추가 */
.xi-plus-min {
    font-size: 12px;
    color: #0e413b;
}

/* 행삭제 */
.xi-minus-min {
    font-size: 12px;
    color: #0e413b;
}

/* 엑셀다운로드 */
.xi-angle-down-min {
    font-size: 12px;
    color: #0e413b;
}

/* 엑셀업로드 */
.xi-angle-up-min {
    font-size: 12px;
    color: #0e413b;
}