html,
body {
  font-family: "Noto Sans KR", "Nanum Gothic";
  height: 100%;
  background: #fafafa;
  font-size: 13px;
  color: #031b18;
  margin: 0;
  padding: 0;
}

/* 검색출력 */
.container_top {
  display: flex;
  height: 26px;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0px solid #badcd8;
}

.top1 {
  display: flex;
  height: 100%;
  flex-basis: 12%;
  align-items: center;
  text-align: left;
}
.top1_group1 {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: left;
  align-items: center;
}

.top1_item1 {
  display: flex;
  background: #2a9d8f;
  color: #eefcfa;
  align-items: center;
  justify-content: center;
  align-content: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin-left: 12px;
  border-top: 1px solid #1d7268;
  border-left: 1px solid #1d7268;
  border-right: 1px solid #1d7268;
}

.top2 {
  display: flex;
  height: 100%;
  flex-basis: 88%;
  background: #fafafa;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.top2_group1 {
  display: flex;
  height: 100%;
  width: 80px;
  border-radius: 2px;
  margin-inline-end: 2px;
  align-content: center;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* 저장 */
.top2_item1 {
  display: flex;
  background: #2a9d8f;
  color: #eefcfa;
  font-weight: bold;
}

/* 초기화 */
.top2_item2 {
  display: flex;
  background: #badcd8;
}

/* 출력 */
.top2_item3 {
  display: flex;
  background: #badcd8;
}

/* 검색영역 */
.container_search {
  display: flex;
  height: 40px;
  width: 100%;
  margin: 0;
  padding: 0;
  border-top: 1px solid #1d7268;
  border-bottom: 1px solid #259e90;
}

.search1 {
  display: flex;
  height: 100%;
  width: 100%;
  background: #fafafa;
}

.search1_group1 {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row; /* flex div 좌측 정렬 */
  text-align: right;
  align-items: center; /* 가로 중앙정렬 */
}

/* 검색항목 - 라벨1 */
.search1_item1 {
  display: flex;
  background: #eaf5ec;
  flex-basis: 8%;
  text-align: right;
}

/* 검색항목 - 입력항목1 */
.search1_item2 {
  display: flex;
  background: #f2f5ea;
  flex-basis: 17%;
}

/* 검색항목 - 라벨2 */
.search1_item3 {
  display: flex;
  background: #eaf5ec;
  flex-basis: 8%;
}

/* 검색항목 - 입력항목2 */
.search1_item4 {
  display: flex;
  background: #f2f5ea;
  flex-basis: 17%;
}

/* 검색항목 - 라벨3 */
.search1_item5 {
  display: flex;
  background: #eaf5ec;
  flex-basis: 8%;
}

/* 검색항목 - 입력항목3 */
.search1_item6 {
  display: flex;
  background: #f2f5ea;
  flex-basis: 17%;
}

/* 검색항목 - 라벨4 */
.search1_item7 {
  display: flex;
  background: #eaf5ec;
  flex-basis: 8%;
}

/* 검색항목 - 입력항목4 */
.search1_item8 {
  display: flex;
  background: #f2f5ea;
  flex-basis: 17%;
}

/* 그리드제목 및 액션 */
.container_control1 {
  display: flex;
  height: 26px;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 1px solid #fafafa;
}

.title1 {
  display: flex;
  height: 100%;
  flex-basis: 30%;
  align-items: center;
  text-align: left;
}
.title1_group1 {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: left;
  align-items: center;
}

.title1_item1 {
  display: flex;
  background: #2a9d8f;
  justify-content: left;
  padding-left: 20px;
  align-content: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin-left: 12px;
  border-top: 1px solid #1d7268;
  border-left: 1px solid #1d7268;
  border-right: 1px solid #1d7268;
}

.action1 {
  display: flex;
  height: 100%;
  flex-basis: 70%;
  background: #fafafa;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.action1_group1 {
  display: flex;
  height: 100%;
  width: 80px;
  border-radius: 2px;
  margin-inline-end: 2px;
  align-content: center;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.action1_item1 {
  display: flex;
  background: #2a9d8f;
  color: #eefcfa;
  font-weight: bold;
}

.action1_item2 {
  display: flex;
  background: #badcd8;
}

.action1_item3 {
  display: flex;
  background: #badcd8;
}

.action1_item4 {
  display: flex;
  background: #badccb;
  width: 120px;
}

.action1_item5 {
  display: flex;
  background: #badccb;
  width: 120px;
}

/* 웹 폰트 */
/* 검색조건 */
.xi-bars {
  font-size: 14px;
  color: #eefcfa;
}

/* 그리드 제목 */
.xi-sort-desc {
  font-size: 14px;
  color: #eefcfa;
}

/* 조회 */
.xi-search {
  font-size: 12px;
  color: #eefcfa;
}

/* 초기화 */
.xi-refresh {
  font-size: 12px;
  color: #062420;
}

/* 출력 */
.xi-print {
  font-size: 12px;
  color: #062420;
}

/* 저장 */
.xi-save {
  font-size: 12px;
  color: #eefcfa;
}

/* 행추가 */
.xi-plus-min {
  font-size: 12px;
  color: #062420;
}

/* 행삭제 */
.xi-minus-min {
  font-size: 12px;
  color: #062420;
}

/* 엑셀다운로드 */
.xi-angle-down-min {
  font-size: 12px;
  color: #062420;
}

/* 엑셀업로드 */
.xi-angle-up-min {
  font-size: 12px;
  color: #062420;
}

/* 버튼 : 조회, 저장 */
.btn_main {
  display: inline-block;
  background-color: #2a9d8f;
  text-align: center;
  cursor: pointer;
  color: var(--p1);
  transition: box-shadow 0.9s, color 0.3s;
  padding: 6px 12px;
  height: 24px;
  margin-left: 3px;
  border: 0;
  min-width: 90px;
}
.btn_main:hover {
  color: #fff;
}

/* [활성] 조회 및 저장 */
.btn_main.active:hover {
  box-shadow: 200px 0 0 0 #006e62 inset;
}

/* [버튼] 출력, 초기화, 행추가, 행삭제 버튼 */
.btn_sub {
  display: inline-block;
  background-color: #badcd8;
  text-align: center;
  cursor: pointer;
  transition: box-shadow 0.9s, color 0.3s;
  padding: 6px 12px;
  height: 24px;
  margin-left: 3px;
  border: 0;
  min-width: 90px;min-width: 95px;
}
.btn_sub:hover {
  color: #fff;
}

/* [활성] 출력, 초기화, 행추가, 행삭제 버튼 */
.btn_sub.active:hover {
  box-shadow: 200px 0 0 0 #64cfbf inset;
}

/* [버튼] 엑셀다운로드, 엑셀업로드 버튼 */
.btn_excel {
  display: inline-block;
  background-color: #badccb;
  text-align: center;
  cursor: pointer;
  transition: box-shadow 0.9s, color 0.3s;
  padding: 6px 12px;
  height: 24px;
  margin-left: 3px;
  border: 0;  
  min-width: 90px;
}
.btn_excel:hover {
  color: #fff;
}

/* [활성] 엑셀다운로드, 엑셀업로드 버튼 */
.btn_excel_active:hover {
  box-shadow: 200px 0 0 0 #9ddbbd inset;
}

/*  */
/*  */
/*  */
/*  */

/* 검색조건 관련 css */
.search-header {
  display: flex;
  align-items: center;
  position: relative;
  height: 26px;
}

.search-title {
  display: inline-flex;
  align-items: center;
  height: 100%;
  margin-left: 1rem;
  background: #2a9d8f;
  padding: 4px 12px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top: 1px solid #1d7268;;
  border-left: 1px solid #1d7268;;
  border-right: 1px solid #1d7268;;
}

.search-buttons {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.search-content {
  border-top: 1px solid #1d7268;
  border-bottom: 1px solid #1d7268;
  padding: 8px 4px;
  background: #f3f7f6;
}

/* 그리드 관련 css */
.grid-header {
  display: flex;
  align-items: center;
  position: relative;
  height: 26px;
}

.grid {
  /* 아직 내용 없음 */
}
.grid-title {
  display: inline-flex;
  align-items: center;
  height: 100%;
  margin-left: 1rem;
  background: #2a9d8f;
  padding: 4px 12px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top: 1px solid #1d7268;;
  border-left: 1px solid #1d7268;;
  border-right: 1px solid #1d7268;;
}

.grid-buttons {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.grid-content {
  border-top: 1px solid #1d7268;
  border-bottom: 1px solid #1d7268;
  padding: 8px 4px;
  background: #f3f7f6;
}

label {
  margin: 0;
}

form {
  margin: 0;
}

.modal-backdrop {
  z-index: 2500;
  background-color: #d7e8da;
}


.modal {

  position: fixed;
  left: auto;
  top: 200px;
  z-index: 3000;
  
}
.modal-header{
  cursor: move;
  background-color: #259e90;
  color: #eaf5ec;
  font-size: 14px;
  
}


.modal-content{
  height: 300px;
  background-color: #fafafa;
  font-size: 10pt;
}

.modal-footer{

  border-top: 1px solid #1d7268;
  background-color: #fafafa;
  

}

.modal-header > button{
  color: #eefcfa
}

.modal-header > button:hover {
  transition: all 0.7s;
  color: black;
}

.modal-footer > button{

  margin: 0px auto;

}

.xi-close-min {
  color: black;
}


.xi-error-o {
  color: rgb(204, 44, 16);
}

.xi-star {
  color: rgb(204, 44, 16);
  font-size: 7px;
}