{% extends "base.html" %}

{% block header %}


{% endblock %}



{% block contents %}



    <form class="form-signin" method="POST">
      <img
        class="mb-4 rounded-circle"
        src="https://source.unsplash.com/random/350x350"
        alt=""
        width="150"
        height="150"
      />
      <input
        type="text"
        id="loginId2"
        class="form-control"
        placeholder="사용자 ID"
        required
        autofocus
      />
      <input
        type="password"
        id="loginPassword"
        class="form-control"
        placeholder="비밀번호"
        required=""
      />
      <label class="mb-3"
        ><input type="checkbox" value="remember-me" /> ID 저장</label
      >
      <button class="btn btn-lg btn-primary btn-block" type="submit">
        로그인
      </button>
      <p class="mt-5 mb-5 text-muted">© 2017-2021</p>
    </form>

  {% endblock %}
