{% extends "base.html" %}

{% block header %}

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    height: 100%;
  }

  body {
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
  }

  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
  }

  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }

  .form-signin .form-control:focus {
    z-index: 2;
  }

  .form-signin input[type="text"] {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }


  /* ------------------- */

  
.setting .btn-switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 12px;
  float: right;
  margin: 3px 0 0 0;
}
.setting .btn-switch input {
  display:none;
}
.setting .slide-object {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ccc;
  transition:0.4s;
  -webkit-transition:0.4s;
  -o-transition:0.4s;
  -moz-transition:0.4s;
  border-radius: 20px;
}
.setting .slide-object:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0;
  bottom: -3px;
  background: #efefef;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  -moz-transition: 0.4s;
  border-radius:50%;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  box-shadow: 0 2px 2px #bfbebe;
  -moz-box-shadow: 0 2px 2px #bfbebe;
  -webkit-box-shadow: 0 2px 2px #bfbebe;
}
.setting input:checked + .slide-object {
  background: rgba(81, 214, 151, 0.62);
}
.setting input:checked + .slide-object:before {
  transform: translateX(16px);
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  -moz-transform: translateX(16px);
  -o-transform: translateX(16px);
  background: #07ce72;
}
</style>



{% endblock %}



{% block contents %}


    <form class="form-signin text-center" method="POST">
      {% csrf_token %}
      <img
        class="mb-4 rounded-circle"
        src="https://source.unsplash.com/random/350x350"
        alt=""
        width="150"
        height="150"
      />
      <div class="text-left font-weight-bolder">
        <label for="loginId" class="mb-0">Username or email address</label>
      </div>
      <input
        type="text"
        id="loginId2"
        name="userid"
        class="form-control mb-3"
        placeholder="사용자 ID"
        required
        autofocus
      />
      <div class="text-left font-weight-bolder">
        <label for="loginPassword" class="mb-0">Password</label>
      </div>
      <input
        type="password"
        id="loginPassword"
        name="password"
        class="form-control"
        placeholder="비밀번호"
        required=""
      />
      <!--  -->

      <section class="setting st-login" style="display: inline-block;">
        <p>
           한국어
         <label class="btn-switch">
           <input type="checkbox">
           <i class="slide-object"></i>
         </label>
        </p>
      </section>

      <!--  -->

      <label class="mb-3"
        ><input type="checkbox" value="remember-me" style="margin-left: 10px;"/> ID 저장</label
      >
      <button class="btn btn-lg btn-primary btn-block" type="submit">
        로그인
      </button>
      <p class="mt-5 mb-5 text-muted">© Copyright Built1 Corporation 2021</p>
    </form>

  {% endblock %}


  
