{% extends "base.html" %}

{% block header %}	
{% endblock %}

{% block contents %}
    <form class="form-signin text-center" method="POST">
      	{% csrf_token %}
      	<img
        	class="mb-4 rounded-circle"
        	src="https://source.unsplash.com/random/350x350"
        	alt=""
        	width="150"
        	height="150"
      	/>

      	<div class="text-left font-weight-bolder">
        	<label for="user_account" class="mb-1">User name or Email address</label>      	
			<input
				type="text"
				id="user_account"
				name="user_account"
				class="form-control mb-2"
				placeholder="User name or Email address"
				required
				autofocus
			/>
		</div>
		
      	<div class="text-left font-weight-bolder">
        	<label for="password" class="mb-1">Password</label>
      	
			<input
				type="password"
				id="password"
				name="password"
				class="form-control"
				placeholder="Password"
				required=""
			/>
		</div>

      	<section class="setting st-login" style="display: inline-block;">
        	<p>한국어
         		<label class="btn-switch">
           			<input 
					   type="checkbox"
					   id="lang_cd"
					   name="lang_cd"
					/>
           			<i class="slide-object"></i>
         		</label>
        	</p>
      	</section>
      
      	<button class="btn btn-lg btn-primary btn-block" type="submit">login</button>
      	<p class="mt-5 mb-5 text-muted">© Copyright Built1 Corporation 2021</p>
    </form>
  {% endblock %}